<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Django Highcharts Example</title>
</head>
<body>
  <ul>
    <li><a href="{% url 'ticket_class' %}">Ticket Class #1</a></li>
    <li><a href="{% url 'ticket_class_2' %}">Ticket Class #2</a></li>
    <li><a href="{% url 'ticket_class_3' %}">Ticket Class #3</a></li>
    <li><a href="{% url 'json_example' %}">JSON Example</a></li>
  </ul>

  <p>Code samples from the post <a href="https://simpleisbetterthancomplex.com/tutorial/2018/04/03/how-to-integrate-highcharts-js-with-django.html">How to Integrate Highcharts.js with Django</a></p>
  <p>Grab the code on <a href="https://github.com/sibtc/django-highcharts-example">GitHub</a></p>
</body>
</html>